@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Tangerine:700);
/* -- reset -- */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
  font-family: "Century Gothic", verdana, arial, times, sans-serif;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/application.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* -- utility -- */
/* -- componenti -- */
/* -- comuni -- */
/* line 21, ../scss/_utility.scss */
.cf {
  *zoom: 1;
}
/* line 5, ../scss/_utility.scss */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 9, ../scss/_utility.scss */
.cf:after {
  clear: both;
}

/* line 22, ../scss/_utility.scss */
.db {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

a.anchor{
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
  bottom: 60px;
}
/* -- typography -- */
/* -- colors -- */
/* -- documento -- */
/* line 19, ../scss/application.scss */
html {
  background: #535353 url('../img/sfondo-html.jpg?1360017649');
}

/* line 23, ../scss/application.scss */
html, body {
  height: 100%;
  /*min-width: 960px;*/
}

/* line 28, ../scss/application.scss */
.scroll-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 820px;
  min-height: 420px;
}

/* -- carosello -- */
/* line 37, ../scss/application.scss */
.main-scroll {
  position: absolute;
  width: 100%;
  top: 70px;
  padding: 15px 0;
  bottom: 0;
  white-space: nowrap;
  cursor: col-resize;
  background-color: #282828;
}

/* line 48, ../scss/application.scss */
.inner-wrap {
  height: 100%;
}

.inner-wrap.hide {
  width: 100%;
  overflow: hidden;
  background: url('../img/spinner.svg') center center no-repeat;
}

.inner-wrap.hide .carousel-card {
  visibility: hidden;
}

/* line 52, ../scss/application.scss */
.scroll-image {
  position: relative;
  height: 100%;
  margin: 0 20px;
  vertical-align: middle;
  box-shadow: 0 0 15px black;
  background: #535353 url('../img/image-spinner.svg') center center no-repeat;
}

.last-item {
  display: inline-block;
  width: 50px;
}

.last-card {
  position: relative;
  height: 100%;
  margin: 0 20px;
  box-shadow: 0 0 15px black;
}

.last-card img {
  margin: 0;
}

.continue-artstation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continue-artstation span {
  display: inline-block;
  white-space: normal;
  text-align: center;
  font-family: "Century Gothic", "Oxygen", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #9f9f9f;  
  background-color: #282828;
  padding: 10px;
}

.continue-artstation:hover span {
  color: #ffffff;
}

/* -- nav -- */
/* line 61, ../scss/application.scss */
.main-head {
  background: #535353 url('../img/sfondo-html.jpg?1360017649');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 15px black;
  z-index: 999;
}
/* linea decorativa */
#decoration-top{
  background-color: #cf511a;
  height: 3px;
  width: 100%;
}

.main-head .box{
  padding: 0 30px;
}
/* line 71, ../scss/application.scss */
.nav-title {
  float: left;
  padding: 5px 0;
}

/* line 76, ../scss/application.scss */
.logo-image {
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

/* line 83, ../scss/application.scss */
.nav-head {
  position: relative;
  top: 12px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #9f9f9f;
}
/* line 93, ../scss/application.scss */
.nav-head span {
  color: #cf511a;
  font-weight: normal;
  padding-right: 5px;
  font-style: normal;
  font-family: "Century Gothic", "Oxygen", sans-serif;
  font-size: 19px;
}

/* line 96, ../scss/application.scss */
.main-nav {
  position: absolute;
  right: 30px;
  bottom: 2px;
}
/* line 101, ../scss/application.scss */
.main-nav .menu-item {
  float: left;
}
/* line 103, ../scss/application.scss */
.main-nav .menu-item a {
  display: block;
  padding: 10px;
  font-family: "Century Gothic", "Oxygen", sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #9f9f9f;
  text-transform: lowercase;
}

.main-nav .menu-item a:hover{
  background: url('../img/menu-link_bgw.png') no-repeat bottom center;
  color: #cfcfcf;
}

.contact-email{
  position: absolute;
  right: 30px;
  top: 10px;
  color: #9f9f9f;
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 24px;
  padding-right: 10px;
}
.contact-email a{
  text-decoration: none;
  color: #cf511a;
}
/*
#logobadge{
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0px;
  text-align:  center;
  height: 80px;
  background: url('../img/logo-badge.png') center center no-repeat;
}*/

/* Testo */
article.text{
  font-family: "Century Gothic", verdana, arial, times, sans-serif;
  color: #9f9f9f;
  padding: 30px;
  line-height: 20px;
  padding-right: 470px;
  position: relative;
  min-height: 360px;
}
article.main-box{
  min-height: 560px;
}
article.text p{
  padding-bottom: 7px;
}
article.text h1, section h1{
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 30px;
  color: #cf511a;
  border-bottom: 1px dotted #cf511a;
  margin-bottom: 10px;
  line-height: 20px;
  margin-top: 20px;
}
article.text h1:first-letter, section h1:first-letter{
  font-size: 200%;
}
article.text h2{
  color: #cf511a;
  margin-top:25px;
  font-size: 120%;
  /*font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 30px;*/
  margin-bottom: 5px;
}
article.text li{
  font-size: 90%;
  line-height: 25px;
}
article.text a:hover{
  color: white;
}
article.text.right{
  text-align: right;
  width: 400px;
  position: absolute;
  right: 0;
  bottom: -30px;
  padding-right: 20px;
  min-height: 0px;
}
article.text.top{
  top: 70px;
  background: rgba(0, 0, 0, 0.2);
  height: 130px;
  padding: 10px 160px 10px 10px;
  margin: 0px 0px 0 0;
  width: 230px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 80%;
  vertical-align: bottom;
}
article.text.center{
  top: 200px;
}
article.text.top img{
  position: absolute;
  right: 0;
  top: 0px;
  width: 150px;
  height: 150px;
}
article.text.top img#painter{
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 400px;
}

article.text.top em{
  font-style: italic;
}
article.text.right h1{
  border-bottom: none;
  padding-right: 10px;
}
.sociallogo{
  width: 100px;
  margin: 0px 10px 0 0;
  border: 2px solid #9f9f9f;
  border-radius: 52px;
}
.sociallogo:hover{
  border-color: #fff;
}
#contact-me{
  margin-top: 30px;
}
#contact-me p{
  font-size: 80%;
}
#contact-me p a{
  color: white;
  text-decoration: underline;
}
#contact-me div{
  font-size: 90%;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px;
  font-weight: bold;
  line-height: 23px;
  margin: 0 0 0 auto;
}
#contact-me div.advocate{
  color: #ee1b2e;
}
#contact-me div.advocate span{
  font-size: 110%;
}
#contact-me div.advocate a{
  text-decoration: underline;
}
#contact-me div img{
  float: left;
  margin-right: 20px;
}
/* libro */
section.booklist{
  padding: 30px;
}
article.book{
  font-family: "Century Gothic", verdana, arial, times, sans-serif;
  color: #9f9f9f;
  text-align: center;
  width: 200px;
  display: inline-block;
  margin: 20px 25px 0 0;
  position: relative;
  vertical-align: top;
  background-color: rgba(0,0,0,0.2);
  padding-bottom: 8px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
article.book img{
  border-radius: 15px;
}
article.book .details{
  display: none;
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  color: #9f9f9f;
  font-size: 11px;
}

.no-touch article.book img:first-child:hover ~ .details,
.no-touch article.book a.details:hover{
  display: block;
}

.touch article.book .details{
  display: block;
  opacity: 0;
}

article.book .details h3{
  padding-top: 80px;
  font-size: 18px;
  color: #fff;
}
article.book .others{
  text-align: left;
  font-size: 0px;
}

article.book .others img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 5px 10px 0 7px;

}
article.book .others a:nth-child(3n) img{
  margin-right: 0px;
}
article.book .bookgallery{
  text-decoration: none;
}

/* video */
#me{
  float: left;
  margin-right: 15px;
}

@media all and (max-width: 960px){
  article.text{
    padding-right: 20px;
  }
  article.text.right{
    bottom: 0;
  }
  article.text.top{
    position: relative;
    top: 0;
    margin-top: 40px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -30px;
    width: 210px;
  }
  article.text.top img{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  article.text.center{
    bottom: 170px;
    top: auto;
    height: 175px;
  }

}
@media all and (max-width: 760px){
    article.text.right{
      position: static;
      width: auto;
    }
    article.text.top{
      position: relative;
      width: 230px;
    }
}

/* --- accorgimenti per la versione smartphone --- */
@media all and (max-width: 700px){
  .main-head .box{
    height: 30px;
  }

  .nav-title{
    display: none;
  }

  .main-nav{
    left: 5px;
    right: auto;
    bottom: -4px;
  }

  .contact-email{
    top: 5px;
    right: 5px;
  }

  #menu-principale li:nth-child(1),
  #menu-principale li:nth-child(3){
    display: none;
  }

  .main-scroll{
    top: 30px;
  }

  article.text.top{
    width: auto;
    height: auto;
    padding: 170px 10px 10px 10px;
    margin: 40px 10px auto auto;
    border-radius: 15px;
    text-align: left;
  }

  article.text.top img{
    top: 10px;
    right: 50%;
    margin-right: -75px;
  }
  article.text.top img#painter{
    top: 15px;
    margin-right: -200px;
  }


}

@media all and (max-width: 515px){
  article.book{
    margin-right: 10px;
  }
  article.book:nth-of-type(2n){
    margin-right: 0;
  }
}

@media all and (max-width: 401px){
  article.book,  article.book:nth-of-type(2n)
  {
    display: block;
    margin: 20px auto 0 auto;
  }
}
